<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
<body>
  <%- include('includes/header') %>

  <main>
    <h2>Welcome to your dashboard</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eaque repellat exercitationem temporibus odit quas possimus. Iure cupiditate architecto sequi vitae quam. Laborum minus saepe expedita repudiandae vero corporis obcaecati.</p>
  </main>

  <%- include('includes/footer') %>  
</body>
</html>